<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"  href="js/themes/default/easyui.css" th:href="@{js/themes/default/easyui.css}"/>
<link rel="stylesheet" type="text/css"  href="js/themes/icon.css" th:href="@{js/themes/icon.css}"/>
<script type="text/javascript" src="js/jquery-1.7.1.js" th:src="@{js/jquery-1.7.1.js}"></script>
<script type="text/javascript"  src="js/jquery.easyui.min.js" th:src="@{js/jquery.easyui.min.js}"></script>
<script type="text/javascript"  src="js/locale/easyui-lang-zh_CN.js" th:src="@{js/locale/easyui-lang-zh_CN.js}"></script>

</head>

<body>
     <script src="user.js"></script> 
      <table id="dg"></table> 
	  <div id="dd"></div> 
</body>

</html>


























