<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form id="userSaveForm" method="post" >  
		<table width="100%" border="0" align="center">
		  <tr>
		    <td width="121" align="right">姓名</td>
		    <td width="340"><input type="text" name="username" class="easyui-validatebox" data-options="required:true"/></td>
		  </tr>
		  <tr>
		    <td align="right">性别</td>
		    <td><input type="text" name="sex" /></td>
		  </tr>
		  <tr>
		    <td align="right">密码</td>
		    <td><input type="text" name="password" /></td>
		  </tr>
		</table>
	</form>
</body>
</html>
